.nt_1 {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.nt_div_1 {
    margin: auto;
    width: 50%;
    border: 3px solid #00C6AE;
    padding: 10px;
}

.four-not-four-page {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #ddd;
}

.four-not-four-page .wrapper {
    max-width: 960px;
    width: 100%;
    margin: 30px auto;
    transform: scale(0.8);
}

.four-not-four-page .landing-page {
    max-width: 960px;
    min-height: 80vh;
    margin: 0;
    box-shadow: 0px 0px 8px 1px #ccc;
    background: #fafafa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four-not-four-page h1 {
    font-size: 2em;
    margin: 0;
}

.four-not-four-page p {
    font-size: 1em;
    margin: 16px auto 24px;
    text-align: center;
}

.four-not-four-page button {
    border-radius: 50px;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    background: #62AD9B;
    color: #fff;
    border: none;
    box-shadow: 0 4px 8px 0 #ccc;
    max-width: 250px;
}

.four-not-four-page img.tilli {
    max-width: 200px;
}
.four-not-four-page img.teqbahn {
    min-width: 200px;
    max-width: 25%;
}
.four-not-four-page .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}